---
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
// import RecentPosts from '../components/RecentPosts.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>

		<Nav />

<!-- 404 -->
<section class="landing-blog">
    <div class="container">
        <div class="row p-t-5 p-b-3">

            <div class="col-xs-12 col-md-6">                
                <img src="/assets/product/images/404.jpg" alt="island">
            </div>

			<div class="col-xs-12 col-md-6 p-b-1">
                <h3>Yikes!</h3>
                <p>Looks like the page you're looking for can't be found <a href="/blog/" title="take a look at my work">take a look at my work </a> or <a href="/blog/" title="check out the blog">check out the blog</a>.</p>
            </div>

        </div>
    </div>
</section>

		<Footer />

	</body>
</html>
