---
import Layout from '../layouts/About.astro';
---

<Layout
	title="About"
	description="I am currently employed as an Air Quality Education Web Specialist at the San Joaquin Valley Air Pollution Control District. My focus is in designing, developing, and managing public facing and internal government websites and web applications."
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
<div class="p-t-2 p-b-1">

<h3>My Current Focus</h3>

<p><strong>I am currently employed as Senior Web Specialist at the San Joaquin Valley Air Pollution Control District.</strong></p>

<p><strong>My focus as a Senior Web Specialist:</strong></p>

<blockquote><p>Organizes, manages, and performs complex web programming and design for public and internal online District assets such as websites, content management systems, and applications in support of District operations. Works at a lead level and as a technical specialist, assigning, directing, and reviewing the work of Web Specialists and related staff. Provides guidance and executes a wide range of programming, design, and analysis tasks, demonstrating full competency in these areas.</p></blockquote>

<div>
	<a href="/work" class="vds-button vds-button--secondary" title="view my work">view my work</a> <a href="/Media/about/resume.pdf" class="vds-button vds-button--primary" title="view my resume" target="_blank">view my resume</a>
</div>

</div>
</Layout>
