---
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';
import Header from '../components/Header.astro';
import Aside from '../components/Aside.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

<style>
	.landing-contact {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		li {
			a {
				border: none;

				&:after {
					display: none;
				}
			}
		}
	}
</style>

	<body>
		<div class="App">
			<div class="Layout">

				<div class="Masthead">
					<Header />
				</div>

				<main class="Main">
					<Nav />

					<!-- Hi! -->
					<section>
						<div class="container">
							<div class="row">
								<div class="col-12">
									<span><strong>Hi, I'm Anton Simanov!</strong> 👋🏻 </span>
					
									<h1 class="p-y-1">Senior Web Specialist from the San Joaquin Valley <i class="fad fa-flag-usa"></i></h1>
					
									<p>I specialize in design, development, and management of government and public sector websites and applications. Active CSM &amp; CSPO certs and always seeking to learn more.</p>
							
								</div>
							</div>
					
							<div class="row">
								<div class="col-12 m-t-1">
									<p><a href="/work/">Take a look at my work ⟶</a></p>
								</div>
							</div>
					
							<div class="row">
								<div class="col-12 m-t-1">
									<p class="m-0">Have a question for me? Let's chat!</p>
								</div>
					
								<div class="col-12">
									<ul class="landing-contact">
										<li><a href="https://linktr.ee/abductedbyai" target="_blank" rel="noopener noreferrer" title="Linktree"><i class="fa-solid fa-link"></i></a></li>
										<li><a href="mailto:anton.simanov@gmail.com" title="anton.simanov@gmail.com"><i class="fas fa-envelope"></i></a></li>
										<li><a href="https://www.linkedin.com/in/antonsimanov/" target="_blank" rel="noopener noreferrer" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="https://twitter.com/AntonSimanov" target="_blank" rel="noopener noreferrer" title="Twitter"><i class="fa-brands fa-x-twitter"></i></a></li>
										<li><a href="https://www.threads.net/@antonsimanov" target="_blank" rel="noopener noreferrer" title="Threads"><i class="fa-brands fa-threads"></i></a></li>
									</ul>
								</div>
							</div>
					
						</div>
					</section> 

					<!-- Specialties -->
					<section class="p-t-1">
						<div class="container">
							<div class="row p-y-2">

								<div class="col-xs-12 col-md-4">
									<div class="vds-card landing-card m-b-1">
										<img src="/assets/product/images/blog/landing-analytics.svg" alt="Webmaster Services">

										<div class="vds-card__body">
											<h6 class="m-0 vds-text--primary">Analytics</h6>
											<p class="m-0">
												Maintenance is not just about editing and authoring content. I review analytics, SEO, and audit for accesibility among perfoming various support roles.  
											</p>
										</div>
										<div class="vds-card__footer justify-content-center">
											<span>Content Authoring, Design System Compliance, Accesibility Audit, SEO, Analytics Review</span>
										</div>
									</div>
								</div>

								<div class="col-xs-12 col-md-4">
									<div class="vds-card landing-card m-b-1">
										<img src="/assets/product/images/blog/landing-design.svg" alt="Design">

										<div class="vds-card__body">
											<h6 class="m-0 vds-text--primary">Project Management</h6>
											<p class="m-0">
												I lead and oversee staff by assigning, directing, and reviewing technical work. I study and follow project management practices and frameworks in constant pursuit of a better way to work with people.
											</p>
										</div>
										<div class="vds-card__footer justify-content-center">
											<span>Agile, Scrum, CSM, CSPO, Kanban, Waterfall</span>
										</div>
									</div>
								</div>

								<!-- <div class="col-xs-12 col-md-4">
									<div class="vds-card landing-card m-b-1">
										<img src="/assets/product/images/blog/landing-design.svg" alt="Design">

										<div class="vds-card__body">
											<p class="m-0 vds-text--primary"><strong>Web, UI, UX Design</strong></p>
											<p class="m-0">
												I design websites and applications with the goal of providing solutions to problems, communicate clearly, and present visually pleasing products.
											</p>
										</div>
										<div class="vds-card__footer justify-content-center">
											<span>Design Systems, Web Design, Responsive Design, App Design, UI Design, UX design, Adobe, Figma</span>
										</div>
									</div>
								</div> -->

								<div class="col-xs-12 col-md-4">
									<div class="vds-card landing-card m-b-1">
										<img src="/assets/product/images/blog/landing-dev.svg" alt="Front-end Web Development">

										<div class="vds-card__body">
											<h6 class="m-0 vds-text--primary">Web Development</h6>
											<p class="m-0">
												My focus is on delivering fully ready, semantic, and accessible front-end assets. I specialize in Design System authoring as well as providing custom solutions.
											</p>
										</div>
										<div class="vds-card__footer justify-content-center">
											<span>Design System Authoring, HTML5, CSS3, SASS, JavaScript, jQuery, Razor, PHP, Twig, API, Git</span>
										</div>
									</div>
								</div>

							</div>

						</div>
					</section>

				</main>
				
				<div class="Aside">
					
					<Aside />

				</div>

			</div>

		<Footer />

		</div>
	</body>
</html>