---
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';
import Header from '../components/Header.astro';
import Aside from '../components/Aside.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body>
		<div class="App">
			<div class="Layout">

				<div class="Masthead">
					<Header />
				</div>

				<main class="Main">
					<Nav />

					<!-- Hi! -->
					<section>
						<div class="container">
							<div class="row">
								<div class="col-12">
									<span><strong>Hi, I'm Anton Simanov!</strong> 👋🏻 </span>
					
									<h1 class="p-y-1">Senior Web Specialist from the San Joaquin Valley <i class="fad fa-flag-usa"></i></h1>
					
									<p>I specialize in design, development, and management of government and public sector websites and applications. Active CSM &amp; CSPO certs and always seeking to learn more.</p>
							
								</div>
							</div>
					
							<div class="row">
								<div class="col-12 m-t-1">
									<p><a href="/work/">Take a look at my work ⟶</a></p>
								</div>
							</div>
					
							<div class="row">
								<div class="col-12 m-y-1">
									<p class="m-0">Have a question for me? Let's chat!</p>
								</div>
					
								<div class="col-12">
									<ul class="landing-contact">
										<li><a href="https://linktr.ee/abductedbyai" target="_blank" rel="noopener noreferrer" title="Linktree"><i class="fa-solid fa-link"></i></a></li>
										<li><a href="mailto:anton.simanov@gmail.com" title="anton.simanov@gmail.com"><i class="fas fa-envelope"></i></a></li>
										<li><a href="https://www.linkedin.com/in/antonsimanov/" target="_blank" rel="noopener noreferrer" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="https://twitter.com/AntonSimanov" target="_blank" rel="noopener noreferrer" title="Twitter"><i class="fa-brands fa-x-twitter"></i></a></li>
										<li><a href="https://www.threads.net/@antonsimanov" target="_blank" rel="noopener noreferrer" title="Threads"><i class="fa-brands fa-threads"></i></a></li>
									</ul>
								</div>
							</div>
					
						</div>
					</section> 

					<!-- About Me -->
					<section class="p-t-1">
						<div class="container">
							<div class="row p-y-2">

								<div class="col-xs-12 col-md-4">                
									<img src="/assets/product/images/404.svg" alt="404" style="width: 100%; height: auto; display: block; margin: 0 auto;">
								</div>

								<div class="col-xs-12 col-md-8 p-b-1">
									<p class="m-b-1">
										I provide comprehensive Webmaster Services, including analytics review, SEO, accessibility audits, and various support roles. Leading technical projects, I enhance team collaboration using Agile and other management practices. My front-end web development expertise ensures the delivery of semantic and accessible assets, specializing in Design System authoring and custom solutions. 
									</p>
					
									<p class="m-0"><a href="/about" title="about">Read more about me ⟶</a>
									</p>
								</div>

							</div>

						</div>
					</section>

				</main>
				
				<div class="Aside">
					
					<Aside />

				</div>

			</div>

		<Footer />

		</div>
	</body>
</html>

<style>
	.landing-contact {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		li {
			a {
				border: none;

				&:after {
					display: none;
				}
			}
		}
	}
</style>