---
// import HeaderLink from './HeaderLink.astro';
---

<style>
	.aside-out-link {
        &:after {
            display: none;
        }
    }

    a {
        display: inline;
    }

    p {
        font-size: var(--set-font-size-sm);
    }
</style>

<aside>
    <div class="container">

        <!-- Percept -->
        <div class="row p-b-1">

            <div class="col-xs-12 col-md-6 p-b-2">
                <h6 class="bsln-text--purple">Percept</h6>
                <p class="m-b-1">A collection of meditation sessions, concepts, mental experiments, &amp; experience accounts.</p>

                <p class="m-0"><a href="/percept" title="Percept">Take a look ⟶</a>
                </p>
            </div>

            <div class="col-xs-12 col-md-6">                
                <img src="/assets/product/images/percept.svg" alt="Percept" style="width: 50%; height: auto; display: block; margin: 0 auto;">
            </div>

        </div>

        <!-- Abducted by AI -->
        <div class="row p-b-1">

            <div class="col-xs-12 col-md-6 p-b-2">
                <h6 class="bsln-text--magenta">Abducted by AI</h6>
                <p class="m-b-1">I have a passion for illustration, aliens, paranormal, artificial intelligence, and "high strangeness"... so I put most of that into my other creative outlet.</p>

                <p class="m-0"><a href="https://abductedbyai.com/" title="Abducted by AI" target="_blank" class="aside-out-link">Enter Abducted by AI ⟶</a>
                </p>
            </div>

            <div class="col-xs-12 col-md-6">                
                <img src="https://abductedbyai.com/assets/product/images/aba-logo.svg" alt="Abducted by AI" style="width: 60%; height: auto; display: block; margin: 0 auto;">
            </div>

        </div>

        <!-- From the blog -->
        <div class="row p-b-1">

            <div class="col-xs-12 col-md-6 p-b-2">
                <h6 class="bsln-text--red">From the Blog</h6>
                <p class="m-b-1">Take a look at some of the things that keep me busy, be it work related, personal projects, or just life in general.</p>

                <p class="m-0"><a href="/blog" title="blog">Read all blog posts ⟶</a>
                </p>
            </div>

            <div class="col-xs-12 col-md-6">                
                <img src="/assets/product/images/asim-blog-rock-color.svg" alt="island" style="width: 60%; height: auto; display: block; margin: 0 auto;">
            </div>

        </div>

        <!-- Resources -->
        <div class="row p-b-1">

            <div class="col-xs-12 col-md-6 p-b-1">
                <h6 class="bsln-text--green">Resources</h6>
                <p class="m-b-1">A collection of saved links, blogs, &amp; various resources on all kinds of subjects.</p>

                <p class="m-0"><a href="/links" title="blog">Check them out ⟶</a>
                </p>
            </div>

            <div class="col-xs-12 col-md-6">                
                <img src="/assets/product/images/happy-pixels.svg" alt="Resources" style="width: 60%; height: auto; display: block; margin: 0 auto;">
            </div>

        </div> 

    </div>
</aside>