---
import HeaderLink from './HeaderLink.astro';
---

<style>
    .navigation {
        /* background: rgba(0,0,0,0.1); */
        box-shadow: none;
    }

    .navigation__content {
        ul {
            li {
                text-shadow: 1px 1px 4px black;
            }
        }
    }
</style>

<nav class="navigation">
    <div class="container navigation__container">
        
        <div class="navigation__content">

            <HeaderLink href="/" class="navigation__title">
                <img class="img" src="/assets/product/images/asim.svg?v=20231229.1" alt="ASIM" title="ASIM">
            </HeaderLink>

            <ul class="navigation__list vds-text--white">
                <li>
                    <HeaderLink href="/blog" class="navigation__link"><i class="fad fa-home"></i> <span>Blog</span></HeaderLink>
                </li>
                <li>
                    <HeaderLink href="/about" class="navigation__link"><i class="fad fa-flag"></i> <span>About</span></HeaderLink>
                </li>
                <li>
                    <HeaderLink href="/work" class="navigation__link"><i class="fad fa-briefcase"></i> <span>Work</span></HeaderLink>
                </li>
            </ul>

        </div>
    </div>
</nav> 