---
import HeaderLink from './HeaderLink.astro';
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<nav class="navigation">
    <div class="navigation__container m-y-1">
        
        <div class="navigation__content">

            <ul class="navigation__list">
                <li>
                    <HeaderLink href="/" class="navigation__link" class:list={[className, { active: isActive }]} {...props}>
                        <span>Home</span>
                    </HeaderLink>
                </li>
                <li>
                    <HeaderLink href="/percept" class="navigation__link">
                        <span>Percept</span>
                    </HeaderLink>
                </li>
                <li>
                    <HeaderLink href="/blog" class="navigation__link">
                        <span>Blog</span>
                    </HeaderLink>
                </li>
                <li>
                    <HeaderLink href="/about" class="navigation__link">
                        <span>About</span>
                    </HeaderLink>
                </li>
                <li>
                    <HeaderLink href="/work" class="navigation__link">
                        <span>Work</span>
                    </HeaderLink>
                </li>
            </ul>

        </div>
    </div>
</nav> 

<style>
    .navigation {
        /* background: rgba(0,0,0,0.1); */
        /* box-shadow: none; */
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;

        a {
            border-width: 2rem;
            /* font-weight: 700; */
            font-family: var(--set-font-mono);
        }
    }

    .navigation__color-scheme {
        width: 100%;
    }

    .navigation__container {
        width: 100%;
    }

    .navigation__title {
        display: block;

        img {
            width: 80px;
            height: auto;
        }
    }

    .navigation__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        width: 100%;

        ul {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            width: 100%;
            padding: 0;
            justify-content: space-between;
        }
    }
</style>