---
import BaseHead from '../../components/BaseHead.astro';
import Nav from '../../components/Nav.astro';
import Header from '../../components/Header.astro';
import Aside from '../../components/Aside.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

const { title, description, background, pubDate, updatedDate, heroImage } = Astro.props;
---

<style>
	.work-main {
		h3 {
			--heading-underline-color: var(--set-color-base-inverse);
			position: relative;
			margin-bottom: 26rem;

			&::after {
				content: "";
				display: block;
				width: 60rem;
				height: 6rem;
				background: var(--heading-underline-color);
				position: absolute;
				left: 0;
				bottom: -10rem;
			}
		}
	}

	.workdocs-annual-nav {
		list-style-type: none;
		margin: 0;
		padding: 0;
		
		li {
			display: inline-block;
		}
	}
</style>

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} image={background || undefined} />
	</head>

	<body>
		<div class="App">
			<div class="Layout">

				<div class="Masthead">
					<Header />
				</div>

				<main class="Main">
					<Nav />

					<img src="/assets/product/images/work-bw-3.jpg" style="height: auto; width: 100%; border-radius: 6rem;" class="m-b-2" alt="work"> 

					<div class="work-main">
					
						<h3 id="navDesignSystems">Annual Tasks & Projects</h3>

						<ul class="workdocs-annual-nav">
							<li><a href="/work/2024/" title="2024" class="bsln-button">2024</a></li>
							<li><a href="/work/2023/" title="2023" class="bsln-button">2023</a></li>
							<li><a href="/work/2022/" title="2022" class="bsln-button">2022</a></li>
						</ul>
						
						<h3 id="navDesignSystems" class="m-t-2">Design Systems</h3>
						
						<div class="bsln-card bsln-card--hr m-b-2">
							<div class="bsln-card__img-title" style="background-image:url(/assets/product/images/work/cards/variable-design-system.jpg); min-width: 40%;">

								<div class="p-y-1 p-x-1">
										<h5 class="m-0">Variable Design System</h5>
								</div>
							</div>
				
							<div class="bsln-card__body">
								<p class="m-0 font-size--sm">A lightweight design system composed with CSS custom props, built with sass modules, & configurable with JS.</p>

								<div class="p-t-1">
									<a href="https://simanov.dev/vds" target="_blank" class="bsln-button bsln-button--outlined bsln-button--sm m-0" rel="noopener noreferrer" title="variable design system docs and demo"><i class="fas fa-eye"></i> view</a>
									<a href="https://github.com/asimanov/variable-design-system" target="_blank" class="bsln-button bsln-button--outlined bsln-button--sm m-0" rel="noopener noreferrer" title="variable design system git repo"><i class="fab fa-github"></i> repo</a>
								</div>
							</div>
						</div>
				
						<div class="bsln-card bsln-card--hr m-b-2">
							<div class="bsln-card__img-title" style="background-image:url(https://valleyair.org/design-system-2/assets/img/launch-bg-mountain.jpg); min-width: 40%;">
								<div class="p-y-1 p-x-1">
									<h5 class="m-0">Valley <br> Air Design System</h5>
								</div>
							</div>

							<div class="bsln-card__body">
								<p class="m-0 font-size--sm">Extends the Air District brand to web applications & web content.</p>

								<div class="p-t-1">
									<a href="https://valleyair.org/design-system-2" target="_blank" class="bsln-button bsln-button--outlined bsln-button--sm m-0" rel="noopener noreferrer" title="Valley Air Design System Documentation"><i class="fas fa-eye"></i> view</a>
								</div>
							</div>

						</div>
	
						<div class="bsln-card bsln-card--hr m-b-2">
							<div class="bsln-card__img-title" style="background-image:url(/assets/product/images/work/cards/fimg.jpg); min-width: 40%;">
								<div class="p-y-1 p-x-1">
									<h5 class="m-0">Fabric</h5>
								</div>
							</div>

							<div class="bsln-card__body">
								<p class="m-0 font-size--sm">A dead simple one-page responsive framework with a couple features.</p>

								<div class="p-t-1">
									<a href="https://simanov.dev/fabric/" target="_blank" class="bsln-button bsln-button--outlined bsln-button--sm m-0" rel="noopener noreferrer" title="variable design system docs and demo"><i class="fas fa-eye"></i> view</a>
									<a href="https://github.com/asimanov/fabric" target="_blank" class="bsln-button bsln-button--outlined bsln-button--sm m-0" rel="noopener noreferrer" title="variable design system git repo"><i class="fab fa-github"></i> repo</a>
								</div>
							</div>

						</div>
			
				
						<h3 id="navSJVAPCD" class="m-t-2">San Joaquin Valley Air Pollution Control District</h3>

						<ul>
							<li>
								<p><strong>
									<a href="https://ww2.valleyair.org/contact" target="_blank" rel="noopener noreferrer" title="Valley Air District Contact Page">Valley Air District</a>
								</strong></p>
								<p class="m-0 font-size--sm">Implementing an enterprise CMS solution on Valley Air District website.</p>
							</li>

							<li>
								<p><strong>
									<a href="http://community.valleyair.org" target="_blank" rel="noopener noreferrer" title="San Joaquin Valley Community Engagement and Protection">Community (AB 617)</a>
								</strong></p>
								<p class="m-0 font-size--sm">San Joaquin Valley Community Engagement and Protection.</p>
							</li>

							<li>
								<p><strong>
									<a href="http://vwbusmoney.valleyair.org" target="_blank" rel="noopener noreferrer" title="VW Mitigation Trust | Bus Money">VW Mitigation Trust</a>
								</strong></p>
								<p class="m-0 font-size--sm">VW Mitigation Trust. Zero-Emission Transit, School, and Shuttle Buses</p>
							</li>

							<li>
								<p><strong>
									<a href="https://archive.valleyair.org/app/" target="_blank" rel="noopener noreferrer" title="Valley Air App">Valley Air App</a>
								</strong></p>
								<p class="m-0 font-size--sm">The official app of the San Joaquin Valley Air Pollution Control District.</p>
							</li>

							<li>
								<p><strong>
									<a href="https://valleyair.org/drivecleaninthesanjoaquin" target="_blank" rel="noopener noreferrer" title="Drive Clean in The San Joaquin">Drive Clean in The San Joaquin</a>
								</strong></p>
								<p class="m-0 font-size--sm">Drive Clean in The San Joaquin: Repair, Replace, Rebate programs.</p>
							</li>

							<li>
								<p><strong>
									<a href="https://valleyair.org/rule4901" target="_blank" rel="noopener noreferrer" title="Residential Wood Burning Rule 4901">Rule 4901</a>
								</strong></p>
								<p class="m-0 font-size--sm">Residential Wood Burning Rule 4901, "Check Before You Burn."</p>
							</li>

							<li>
								<p><strong>
									<a href="https://www.valleyair.org/aqinfo/forecast.htm" target="_blank" rel="noopener noreferrer" title="AQA Services: Daily Air Quality Forecast">AQA Services</a>
								</strong></p>
								<p class="m-0 font-size--sm">AQA Services: Daily Air Quality Forecast.</p>
							</li>

							<li>
								<p><strong>
									<a href="https://www.valleyair.org/aqinfo/cbyb.htm" target="_blank" rel="noopener noreferrer" title="AQA Services: Check Before You Burn">AQA Services</a>
								</strong></p>
								<p class="m-0 font-size--sm">AQA Services: Check Before You Burn.</p>
							</li>

							<li>
								<p><strong>
									<a href="https://www.valleyair.org/aqinfo/wildfires.htm" target="_blank" rel="noopener noreferrer" title="AQA Services: Wildfire Information">AQA Services</a>
								</strong></p>
								<p class="m-0 font-size--sm">AQA Services: Wildfire Information.</p>
							</li>

							<li>
								<p><strong>
									<a href="http://healthyairliving.com" target="_blank" rel="noopener noreferrer" title="Healthy Air Living">Healthy Air Living</a>
								</strong></p>
								<p class="m-0 font-size--sm">Make a change, get involved, spread the word and live a Healthy Air Life!</p>
							</li>

							<li>
								<p><strong>
									<a href="https://www.valleyair.org/myraan" target="_blank" rel="noopener noreferrer" title="RAAN - Real-time Air Advisory Network">RAAN</a>
								</strong></p>
								<p class="m-0 font-size--sm">RAAN - Real-time Air Advisory Network</p>
							</li>

							<li>
								<p><strong>
									<a href="https://www.valleyair.org/waaqs" target="_blank" rel="noopener noreferrer" title="WAAQs - Web-based Archived Air Quality System">WAAQs</a>
								</strong></p>
								<p class="m-0 font-size--sm">WAAQs - Web-based Archived Air Quality System</p>
							</li>

							<li>
								<p><strong>
									<a href="https://valleyair.org/rwbhp" target="_blank" rel="noopener noreferrer" title="4901 Device Inspection System">RWBHP</a>
								</strong></p>
								<p class="m-0 font-size--sm">4901 Device Inspection System</p>
							</li>

							<li>
								<p><strong>
									<a href="https://valleyair.org/grants" target="_blank" rel="noopener noreferrer" title="Grants and Incentives">Grants</a>
								</strong></p>
								<p class="m-0 font-size--sm">Grants &amp; Incentives</p>
							</li>
						</ul>

						<h3 id="navIdentity" class="m-t-2">Identity</h3>
		
						<div class="row">

							<div class="col-xs-12 col-sm-6 col-md-4">
								<div class="bsln-card m-b-2 p-t-1 justify-content-center bsln-bg--black bsln-bg--black">
									<img src="/assets/product/images/work/cards/identity/asim.svg" alt="ASIM">

									<div class="bsln-card__body bsln-bg--black bsln-text--white">
										<p class="m-0 font-size--xs text-align--center">Personal Brand</p>
									</div>
		
									<div class="bsln-card__footer vds-bg--base justify-content-center">
										<a href="/blog/kicking-off-2023-with-astro-build" class="bsln-button bsln-button--outlined bsln-button--sm m-0" title="Collecto"><i class="far fa-search"></i> case study</a>
									</div>
		
								</div>
							</div>
		
							<div class="col-xs-12 col-sm-6 col-md-4">
								<div class="bsln-card m-b-2 p-t-1 justify-content-center bsln-bg--black">
									<img src="/assets/product/images/work/cards/identity/vwd.svg" alt="Valley Web Design">
		
									<div class="bsln-card__body bsln-bg--black bsln-text--white">
										<p class="m-0 font-size--xs text-align--center">Valley Web Design</p>
									</div>
		
									<div class="bsln-card__footer vds-bg--base justify-content-center">
										<a href="/blog/valley-web-design-illustration" class="bsln-button bsln-button--outlined bsln-button--sm m-0" title="Valley Web Design"><i class="far fa-search"></i> case study</a>
									</div>
								</div>
							</div>
							
							<div class="col-xs-12 col-sm-6 col-md-4">
								<div class="bsln-card m-b-2 p-t-1 justify-content-center bsln-bg--black">
									<img src="/assets/product/images/work/cards/identity/otterdoit.svg" alt="Otterdoit">
		
									<div class="bsln-card__body bsln-bg--black bsln-text--white">
										<p class="m-0 font-size--xs text-align--center">Otterdoit</p>
									</div>
		
									<div class="bsln-card__footer vds-bg--base justify-content-center">
										<a href="/blog/otterdoit" class="bsln-button bsln-button--outlined bsln-button--sm m-0" title="Otterdoit"><i class="far fa-search"></i> case study</a>
									</div>
								</div>
							</div>
							
							<div class="col-xs-12 col-sm-6 col-md-4">
								<div class="bsln-card m-b-2 p-t-1 justify-content-center bsln-bg--black">
									<img src="/assets/product/images/work/cards/identity/gof.svg" alt="Green Office Furnishings">
		
									<div class="bsln-card__body bsln-bg--black bsln-text--white">
										<p class="m-0 font-size--xs text-align--center">Green Office Furnishings</p>
									</div>
		
									<div class="bsln-card__footer vds-bg--base justify-content-center">
										<a href="/blog/green-office-furnishings" class="bsln-button bsln-button--outlined bsln-button--sm m-0" title="Green Office Furnishings"><i class="far fa-search"></i> case study</a>
									</div>
								</div>
							</div>
		
							<div class="col-xs-12 col-sm-6 col-md-4">
								<div class="bsln-card m-b-2 p-t-1 justify-content-center bsln-bg--black">
									<img src="/assets/product/images/work/cards/identity/collecto.svg" alt="Collecto">
		
									<div class="bsln-card__body bsln-bg--black bsln-text--white">
										<p class="m-0 font-size--xs text-align--center">Collecto</p>
									</div>
		
									<div class="bsln-card__footer vds-bg--base justify-content-center">
										<a href="/blog/collecto" class="bsln-button bsln-button--outlined bsln-button--sm m-0" title="Collecto"><i class="far fa-search"></i> case study</a>
									</div>
								</div>
							</div>
		
							<div class="col-xs-12 col-sm-6 col-md-4">
								<div class="bsln-card m-b-2 p-t-1 justify-content-center bsln-bg--black">
									<img src="/assets/product/images/work/cards/identity/jar.svg" alt="Johnson's Auto Repair">
		
									<div class="bsln-card__footer vds-bg--base justify-content-center m-t-1">
										<p class="m-0 font-size--xs vds-text--white text-align--center">Johnson's Auto Repair</p>
									</div>
								</div>
							</div>
		
							<div class="col-xs-12 col-sm-6 col-md-4">
								<div class="bsln-card m-b-2 p-t-1 justify-content-center bsln-bg--black">
									<img src="/assets/product/images/work/cards/identity/dfc.svg" alt="DeFehr Construction">
		
									<div class="bsln-card__footer vds-bg--base justify-content-center m-t-1">
										<p class="m-0 font-size--xs vds-text--white text-align--center">DeFehr Construction</p>
									</div>
								</div>
							</div>
		
							<div class="col-xs-12 col-sm-6 col-md-4">
								<div class="bsln-card m-b-2 p-t-1 justify-content-center bsln-bg--black">
									<img src="/assets/product/images/work/cards/identity/fabric.svg" alt="Fabric">
		
									<div class="bsln-card__footer vds-bg--base justify-content-center m-t-1">
										<p class="m-0 font-size--xs vds-text--white text-align--center">Fabric</p>
									</div>
								</div>
							</div>
		
							<div class="col-xs-12 col-sm-6 col-md-4">
								<div class="bsln-card m-b-2 p-t-1 justify-content-center bsln-bg--black">
									<img src="/assets/product/images/work/cards/identity/mustachebear.svg" alt="Mustache Bear">
		
									<div class="bsln-card__footer vds-bg--base justify-content-center m-t-1">
										<p class="m-0 font-size--xs vds-text--white text-align--center">Mustache Bear</p>
									</div>
								</div>
							</div>
		
							<div class="col-xs-12 col-sm-6 col-md-4">
								<div class="bsln-card m-b-2 p-t-1 justify-content-center bsln-bg--black">
									<img src="/assets/product/images/work/cards/identity/no12.svg" alt="NoTwelve">
		
									<div class="bsln-card__footer vds-bg--base justify-content-center m-t-1">
										<p class="m-0 font-size--xs vds-text--white text-align--center">NoTwelve</p>
									</div>
								</div>
							</div>
		
							<div class="col-xs-12 col-sm-6 col-md-4">
								<div class="bsln-card m-b-2 p-t-1 justify-content-center bsln-bg--black">
									<img src="/assets/product/images/work/cards/identity/ppress.svg" alt="Pixelnaut Press">
		
									<div class="bsln-card__footer vds-bg--base justify-content-center m-t-1">
										<p class="m-0 font-size--xs vds-text--white text-align--center">Pixelnaut Press</p>
									</div>
								</div>
							</div>
		
							<div class="col-xs-12 col-sm-6 col-md-4">
								<div class="bsln-card m-b-2 p-t-1 justify-content-center bsln-bg--black">
									<img src="/assets/product/images/work/cards/identity/trc.svg" alt="The Robot Cave">
		
									<div class="bsln-card__footer vds-bg--base justify-content-center m-t-1">
										<p class="m-0 font-size--xs vds-text--white text-align--center">The Robot Cave</p>
									</div>
								</div>
							</div>
						</div>

					</div>

				</main>
							
				<div class="Aside">
					
					<Aside />

				</div>

			</div>

			<Footer />

		</div>

	</body>
</html>